page,
view,
text,
image,
video,
button,
map,
canvas,
open-data,
web-view,
ad,
checkbox-group,
checkbox,
form,
input,
label,
picker,
picker-view,
radio-group,
radio,
slider,
switch,
textarea,
navigator,
icon,
rich-text,
progress,
scroll-view,
swiper,
swiper-item,
cover-view,
cover-image {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: PingFang SC;
}
